{% extends "amazon/base.html" %}
{% block content %}
    <!--
    NOTE:
    we only consider medium size, aka "md"
    mb: margin bottom
    pb: padding bottom
    order: make the order of each element in a row(smaller to larger)
    -->
    <div class="row">
        <h1>{{ item.description }}</h1>
    </div>
    <div class="row mt-4">
        <!-- item image -->
        <div class="col-md-4 order-md-1 align-content-center">
            <!-- make it responsive, so it won't be larger than parent -->
            <img src="{{ item.img }}" class="img-fluid mt-2" alt="item image" style="width: 100%; height: auto">
        </div>
        <!-- item description + price -->
        <div class="col-md-4 order-md-2">
            <p class="text-md-left mt-4" style="font-size: x-large">
                Price:
                <span style="color: red; "> ${{ item.price|floatformat:2 }}</span>
                <span style="font-size: medium">
                &
                <b>Free shipping</b>
                </span>
            </p>
            <p class="text-md-left mt-4" style="font-size: xx-large">
                <b>BUY IT NOW!!!</b>
            </p>
        </div>
        <!-- "buy" & "add to cart" option -->
        <div class="col-md-4 order-md-3">
            <div class="p-2" style="border: 1px solid #7bc27a; height: auto">
                <div class="m-2">
                    <span style="color: red"> ${{ item.price|floatformat:2 }} </span>
                </div>
                <div class="m-2">
                    <b>& free shipping</b>
                </div>
                <div class="m-2">
                    Arrives: <b>Tomorrow</b>
                </div>

                <form name="item_form" class="card p-2 ml-2 mt-3" method="POST" onsubmit="return validForm();">
                    {% csrf_token %}
                    <input type="number" name="count" min="1" max="999" class="form-control" placeholder="Qty" required>
                    <button name="action" value="buy" class="btn btn-primary mt-3">Buy Now</button>
                    <button name="action" value="add" class="btn btn-secondary mt-3">Add to cart</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %}
    <script type="text/javascript">
        function validForm() {
            if ("{{ item.seller.username }}" === "{{ user.get_username }}") {
                alert("You can't buy your own item.");
                return false
            } else {
                return true;
            }
        }
    </script>
{% endblock script %}
