{% extends "amazon/base.html" %}
{% block content %}

    <div class="media">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
    </div>
    <legend>Your Orders</legend>

    <div class="content-section">
        {% if package_list %}
        <div class="table-responsive mt-4 border-bottom table-hover">
            <table class="table">
                <thead>
                    <tr class="row text-center">
                        <!-- thumbnail -->
                        <th class="col-1">#</th>
                        <th class="col-2">Status</th>
                        <th class="col-3">Creation_time</th>
                        <th class="col-2">Total Price</th>
                        <th class="col-2"></th>

                    </tr>
                </thead>
                <tbody>
                    {% for pack in package_list %}
                        <tr class="row text-center">
                            <td class="col-1">{{pack.id}}</td>
                            <td class="col-2">{{pack.status}}</td>
                            <td class="col-3">{{pack.creation_time}}</td>
                            <td class="col-2">null</td>
                            <td class="col-2"><a href="/listpackage/{{ pack.id }}/"> View Items</a></td>
                        </tr>
                        <tr class="row">
                            <td class="col-1 text-center">Items</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>

{% endblock content %}