{% extends "amazon/base.html" %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>

        <!-- FORM HERE -->
        <form method="POST" style="overflow: hidden;">
            {% csrf_token %}

            <legend class="border-bottom">Profile</legend>
            <div class="row mt-4">
                <div class="input-group col-md-6">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Username: </span>
                    </div>
                    <input type="text" class="form-control" name="username" placeholder="username" required
                           value="{{ username }}">
                    <div class="invalid-feedback" style="width: 100%;">
                        username is required
                    </div>
                </div>

                <div class="input-group col-md-6">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Email: </span>
                    </div>
                    <input type="text" class="form-control" name="email" placeholder="email" required
                           value="{{ email }}">
                    <div class="invalid-feedback" style="width: 100%;">
                        email is required
                    </div>
                </div>
            </div>

            <button class="btn btn-outline-info pull-right mt-4" type="submit">Update</button>

        </form>

    </div>
{% endblock content %}
