{% extends "amazon/base.html" %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <div class="media-body card-header" style="border-bottom: 0;">
                <h2 class="account-heading">{{ user.username }}</h2>
                <div class="row" style="margin: 0;">
                    <label class="text-secondary col-3" style="padding: 0;">{{ user.email }}</label>
                    <label class="text-secondary col-3" style="padding: 0;">
                        is seller:
                        {% if user.profile.is_seller %}
                            Yes
                        {% else %}
                            No
                        {% endif %}
                    </label>
                </div>
            </div>
        </div>

        <!-- form for update profile(e.g. name + email) -->
        <form method="POST" style="overflow: hidden;" class="mt-4">
            {% csrf_token %}

            <legend class="border-bottom">Profile</legend>
            <input type="hidden" name="operation" value="update_profile">
            <div class="row mt-4">
                <div class="input-group col-md-6">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="username">Username: </label>
                    </div>
                    <input type="text" class="form-control" name="username" placeholder="username" required
                           value={{ username }} id="username">
                    <div class="invalid-feedback" style="width: 100%;">
                        username is required
                    </div>
                </div>

                <div class="input-group col-md-6">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="email">Email: </label>
                    </div>
                    <input type="text" class="form-control" name="email" placeholder="email" required
                           value={{ email }} id="email">
                    <div class="invalid-feedback" style="width: 100%;">
                        email is required
                    </div>
                </div>
            </div>

            <ul class="mt-2">
                <li>Your username can't contain space.</li>
                <li>Your username can't be duplicate with any other user.</li>
            </ul>

            {% if name_errors %}
                <span style="color: red">
                    <ul>
                    {% for error in name_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                </span>
            {% endif %}


            <button class="btn btn-outline-info pull-right mt-2" type="submit">Update</button>
        </form>

        <!-- form for update password -->
        <form method="POST" style="overflow: hidden;">
            {% csrf_token %}

            <legend class="border-bottom mt-2">Password</legend>
            <input type="hidden" name="operation" value="update_password">
            <div class="input-group mt-4">
                <div class="col-2" style="padding: 0;">
                    <div class="input-group-prepend">
                        <label class="input-group-text" style="width: 100%;">Old Password: </label>
                    </div>
                </div>
                <input type="password" class="form-control" name="old_password" placeholder="old password" required>
            </div>

            <div class="input-group mt-3">
                <div class="col-2" style="padding: 0;">
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="width: 100%;">New Password: </span>
                    </div>
                </div>
                <input type="password" class="form-control" name="new_password" placeholder="new password" required>
            </div>
            <span class="input-group mt-2">
                {{ help_text }}
            </span>

            {% if password_errors %}
                <span style="color: red">
                    <ul>
                    {% for error in password_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                </span>
            {% endif %}

            <button class="btn btn-outline-info pull-right mt-2" type="submit">Update</button>
        </form>

        <!-- form for update optional info -->
        <form method="POST" style="overflow: hidden;">
            {% csrf_token %}

            <legend class="border-bottom mt-2">Optional Info</legend>
            <input type="hidden" name="operation" value="update_optional">

            <label class="mt-1">Default address</label>
            <div class="row">
                <div class="input-group col-md-6">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="default_x">X: </label>
                    </div>
                    <input type="number" class="form-control" name="default_x" placeholder="x coordinate"
                           id="default_x" value=
                                   {% if user.profile.default_x != -1 %}
                                       {{ user.profile.default_x }}
                                   {% endif %}>
                </div>

                <div class="input-group col-md-6">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="default_y">Y: </label>
                    </div>
                    <input type="number" class="form-control" name="default_y" placeholder="y coordinate"
                           id="default_y" value=
                                   {% if user.profile.default_y != -1 %}
                                       {{ user.profile.default_y }}
                                   {% endif %}>
                </div>
            </div>

            <div class="row mt-3">
                <div class="input-group col-md-6 mr-auto">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="username">UPS Account: </label>
                    </div>
                    <input type="text" class="form-control" name="ups_name" placeholder="ups account name"
                           value="{{ user.profile.ups_name }}" id="ups_name">
                </div>
            </div>

            <button class="btn btn-outline-info pull-right mt-2" type="submit">Update</button>
        </form>

        <!-- form for update seller info -->
        <form method="POST" style="overflow: hidden;">
            {% csrf_token %}

            <legend class="border-bottom mt-2">Seller Info</legend>
            <input type="hidden" name="operation" value="update_seller">

            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="seller" name="register_seller"
                       id="register_seller"
                        {% if user.profile.is_seller %}
                       checked
                        {% endif %} >
                <label class="form-check-label" for="register_seller">Register as a seller</label>
            </div>

            <button class="btn btn-outline-info pull-right mt-2" type="submit">Update</button>
        </form>

    </div>
{% endblock content %}

{% block script %}
    <script type="text/javascript">
        // TODO: use ajax to validate input and show message
        // 1. show a message box when register successful
        function check_username() {
            return false;
        }

        function check_password() {
            return false;
        }

        // 2. show error message when password fail
    </script>
{% endblock script %}
